<div data-role="view" data-title="Profile" data-layout="main-nonav" data-model="app.profile" data-show="app.profile.onShow" data-after-show="app.profile.afterShow" id="profileScreen" class="screen">
    <div class="wrapper wrapper-full-page">
        <div class="full-page lock-page" filter-color="black" data-image="img/login.jpeg">
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="content">

                <div class="card card-profile card-hidden">
                    <div class="card-content">
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail img-circle">
                                <img src="img/placeholder.jpg" alt="...">
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
                            <div>
                                <span class="btn btn-round btn-rose btn-file">
                                    <span class="fileinput-new">Add Photo</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="..." />
                                </span>
                                <br />
                                <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright pull-right text-white" style="color:white">
                        &copy;
                        <a style="color:white"> Andril Veedu </a>,  made with love for a better Home
                    </p>
                </div>
            </footer>
        </div>
    </div>
</div>