<div data-role="view" data-title="Chart" data-layout="main-nonav" data-model="app.chart" data-show="app.chart.onShow" data-after-show="app.chart.afterShow" id="chartScreen" class="screen">
    <div class="wrapper wrapper-full-page">
        <div class="full-page chart-page" filter-color="black" data-image="img/login.jpeg">
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="content">
              
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright pull-right text-white" style="color:white">
                        &copy;
                        <a style="color:white"> Andril Veedu </a>,  made with love for a better Home
                    </p>
                </div>
            </footer>
        </div>
    </div>
</div>